In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
# DataLoader
G = pd.read_csv('./2022_Problem_C_DATA/LBMA-GOLD.csv')
B = pd.read_csv('./2022_Problem_C_DATA/BCHAIN-MKPRU.csv')
print(G.shape)
print(B.shape)
# df = pd.merge(G,B,how='outer')

(1265, 2)
(1826, 2)

         Date  USD (PM)     Value
0     9/12/16   1324.60    609.67
1     9/13/16   1323.65    610.92
2     9/14/16   1321.75    608.82
3     9/15/16   1310.80    610.38
4     9/16/16   1308.35    609.11
...       ...       ...       ...
1821  8/28/21       NaN  49056.86
1822  8/29/21       NaN  48897.65
1823  8/30/21       NaN  48806.78
1824   9/4/21       NaN  50035.33
1825   9/5/21       NaN  49947.38

[1826 rows x 3 columns]

In [ ]:
def best_strategy(data):
    pass