In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
# DataLoader
G = pd.read_csv('./2022_Problem_C_DATA/LBMA-GOLD.csv')
B = pd.read_csv('./2022_Problem_C_DATA/BCHAIN-MKPRU.csv')
df = B.join(G.set_index('Date'), on='Date',how='outer')
df.head()

      Date       B        G
0  9/11/16  621.65      NaN
1  9/12/16  609.67  1324.60
2  9/13/16  610.92  1323.65
3  9/14/16  608.82  1321.75
4  9/15/16  610.38  1310.80

In [36]:
def best_strategy(df, init=1000):
    B = np.array(df['B']) # Bitcoin
    G = np.array(df['G']) # Gold
    n = B.size # number of day
    pass

best_strategy(df)