In [53]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [54]:
# DataLoader
G = pd.read_csv('../2022_Problem_C_DATA/LBMA-GOLD.csv')
B = pd.read_csv('../2022_Problem_C_DATA/BCHAIN-MKPRU.csv')
df = B.join(G.set_index('Date'), on='Date', how='inner')
df.head()
print(df.shape[0])
df

1265

          Date         B        G
1      9/12/16    609.67  1324.60
2      9/13/16    610.92  1323.65
3      9/14/16    608.82  1321.75
4      9/15/16    610.38  1310.80
5      9/16/16    609.11  1308.35
8      9/19/16    610.19  1314.85
9      9/20/16    608.66  1313.80
10     9/21/16    598.88  1326.10
11     9/22/16    597.42  1339.10
12     9/23/16    594.08  1338.65
15     9/26/16    598.98  1340.50
16     9/27/16    605.96  1327.00
17     9/28/16    605.67  1322.50
18     9/29/16    603.85  1318.10
19     9/30/16    609.39  1322.50
22     10/3/16    611.85  1313.30
23     10/4/16    609.62  1283.30
24     10/5/16    607.18  1269.40
25     10/6/16    612.08  1254.50
26     10/7/16    617.21  1258.75
29    10/10/16    617.54  1259.50
30    10/11/16    614.77  1253.45
31    10/12/16    635.01  1256.50
32    10/13/16    635.96  1261.05
33    10/14/16    634.02  1251.75
36    10/17/16    638.97  1254.80
37    10/18/16    636.29  1258.20
38    10/19/16    629.25  1269.05
39    10/20/16    627.72  1271.65
40    10/21/16    631.92  1266.05
...        ...       ...      ...
1783   7/30/21  40005.93  1825.75
1786    8/2/21  40000.46  1811.45
1787    8/3/21  39193.94  1812.65
1788    8/4/21  38138.00  1829.10
1789    8/5/21  39750.14  1800.75
1790    8/6/21  40882.00  1762.90
1793    8/9/21  43816.14  1738.85
1794   8/10/21  46333.46  1723.35
1795   8/11/21  45608.37  1743.60
1796   8/12/21  45611.46  1747.40
1797   8/13/21  44417.78  1773.85
1800   8/16/21  47056.41  1786.35
1801   8/17/21  45982.55  1789.45
1802   8/18/21  44648.57  1783.45
1803   8/19/21  44777.86  1782.05
1804   8/20/21  46734.65  1779.05
1807   8/23/21  49335.68  1802.00
1808   8/24/21  49523.50  1808.45
1809   8/25/21  47744.58  1788.70
1810   8/26/21  48972.09  1786.60
1811   8/27/21  46962.80  1798.50
1815   8/31/21  47074.77  1814.85
1816    9/1/21  47155.87  1811.80
1817    9/2/21  48862.76  1812.55
1818    9/3/21  49329.01  1823.70
1821    9/6/21  51769.06  1821.60
1822    9/7/21  52677.40  1802.15
1823    9/8/21  46809.17  1786.00
1824    9/9/21  46078.38  1788.25
1825   9/10/21  46368.69  1794.60

[1265 rows x 3 columns]

In [55]:
# 5 days for one time extract the characterstic
gold = {'date':[],'high':[],'low':[],'open':[],'close':[]}
bitcoin = {'date':[],'high':[],'low':[],'open':[],'close':[]}
time_step_length = 2
start = 0
d_size = df.shape[0]
while(start < d_size-1):
    end = start+time_step_length-1
    gold['date'].append(df.iloc[start,0])
    gold['open'].append(df.iloc[start-1,2]) if np.isnan(df.iloc[start,2]) else gold['open'].append(df.iloc[start,2])
    gold['close'].append(df.iloc[end-1,2]) if np.isnan(df.iloc[end,2]) else gold['close'].append(df.iloc[end,2])
    gold['high'].append(df.iloc[start-1,2]) if np.isnan(df.iloc[start:end+1,2].max(axis=0)) else gold['high'].append(df.iloc[start:end+1,2].max(axis=0)) 
    gold['low'].append(df.iloc[start-1,2]) if np.isnan(df.iloc[start:end+1,2].min(axis=0)) else gold['low'].append(df.iloc[start:end+1,2].min(axis=0))
    bitcoin['date'].append(df.iloc[start,0])
    bitcoin['open'].append(df.iloc[start,1])
    if(np.isnan(df.iloc[start,1])):
        print("nan detect at start")
    #     bitcoin['open'].append(df.iloc[start-1,1])
    # else:
    #     bitcoin['open'].append(df.iloc[start,1])
         
    if(np.isnan(df.iloc[end,1])):
        print("nan detect at end")
    #     bitcoin['close'].append(df.iloc[end-1,1])
    # else:
    bitcoin['close'].append(df.iloc[end,1]) 
    bitcoin['high'].append(df.iloc[start:end+1,1].max(axis=0))
    bitcoin['low'].append(df.iloc[start:end+1,1].min(axis=0))
    start += time_step_length-1
gold = pd.DataFrame(gold)
bitcoin  = pd.DataFrame(bitcoin)
gold.to_csv("./poloniex_data/GOLD.csv",index=0)
bitcoin.to_csv("./poloniex_data/BITCOIN.csv",index=0)
print(gold.shape)

(1264, 5)